.calva/mcp-server/port
.calva/output-window
.calva/repl.calva-repl
.clj-kondo/.lock
.cpcache
.DS_Store
.nrepl-port
*.jar
/.clj-kondo/.cache
/.lsp/.cache
/.portal/vs-code.edn
/.rebel_readline_history
/.socket-repl-port
/projects/*/target/
/target/
/usermanager_db
