*.jar
.DS_Store
.calva/output-window
.calva/repl.calva-repl
.cpcache
.nrepl-port
/.clj-kondo/.cache
/.lsp/.cache
/.portal/vs-code.edn
/.rebel_readline_history
/.socket-repl-port
/projects/*/target/
/target/
/usermanager_db
