{:aliases  {:dev {:extra-paths ["development/src"
                                "development/resources"
                                "bases/web/src"
                                "bases/web/resources"
                                "components/app-state/src"
                                "components/app-state/resources"
                                "components/database/src"
                                "components/database/resources"
                                "components/department/src"
                                "components/department/resources"
                                "components/schema/src"
                                "components/schema/resources"
                                "components/test-helper/src"
                                "components/test-helper/resources"
                                "components/user/src"
                                "components/user/resources"
                                "components/web-server/src"
                                "components/web-server/resources"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}

                               com.stuartsierra/component {:mvn/version "1.0.0"}

                               compojure/compojure {:mvn/version "1.6.2"}
                               ring/ring {:mvn/version "1.8.2"}
                               ring/ring-defaults {:mvn/version "0.3.2"}

                               selmer/selmer {:mvn/version "1.12.31"}

                               org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
                               seancorfield/next.jdbc {:mvn/version "1.1.613"}}}

            :test {:extra-paths ["development/test"
                                 "bases/web/test"
                                 "components/app-state/test"
                                 "components/database/test"
                                 "components/department/test"
                                 "components/schema/test"
                                 "components/test-helper/test"
                                 "components/user/test"
                                 "components/web-server/test"
                                 "projects/usermanager/test"]
                   :extra-deps {com.h2database/h2 {:mvn/version "1.4.200"}
                                org.clojure/test.check {:mvn/version "1.1.0"}}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "499401d4d2c5ac206f00a35c2cd8e569e4e6c3a8"
                                 :deps/root "projects/poly"}}}}}
