{:paths ["src" "resources"]

 :deps {com.stuartsierra/component {:mvn/version "1.1.0"}

        compojure/compojure {:mvn/version "1.7.1"}
        ring/ring {:mvn/version "1.14.2"}
        ring/ring-defaults {:mvn/version "0.6.0"}

        selmer/selmer {:mvn/version "1.12.62"}}

 :aliases {:test {:extra-paths ["test"]}}}
