{:paths ["src" "resources"]

 :deps {com.stuartsierra/component {:mvn/version "1.2.0"}

        compojure/compojure {:mvn/version "1.7.2"}
        ring/ring {:mvn/version "1.15.3"}
        ring/ring-defaults {:mvn/version "0.7.0"}

        selmer/selmer {:mvn/version "1.13.0"}}

 :aliases {:test {:extra-paths ["test"]}}}
