<table border="0" cellspacing="0">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Department</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
        {% if users|empty? %}
            <tr><td colspan="4">No users exist but <a href="/user/form">new ones can be added</a>.</td></tr>
        {% else %}
            {% for user in users %}
            <tr>
			        <td class="name">
                        <a href="/user/form/{{user._id}}">{{user.last_name}},
                          {{user.first_name}}</a>
                    </td>
			        <td class="email">{{user.email}}</td>
			        <td class="department">{{user.name}}</td>
			        <td class="delete"><a href="/user/delete/{{user._id}}">DELETE</a></td>
		        </tr>
            {% endfor %}
        {% endif %}
	</tbody>
</table>
