{:paths ["src" "resources"]

 :deps {poly/base-web   {:local/root "../../bases/web"}
        poly/user       {:local/root "../../components/user"}
        poly/app-state  {:local/root "../../components/app-state"}
        poly/database   {:local/root "../../components/database"}
        poly/department {:local/root "../../components/department"}
        poly/schema     {:local/root "../../components/schema"}
        poly/web-server {:local/root "../../components/web-server"}

        org.clojure/clojure {:mvn/version "1.10.3"}
        ;; specify DB driver for "production" usage:
        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:jar "usermanager.jar"
                                 :aot true
                                 :main-class usermanager.web.main}}}}
