{:paths ["src" "resources"]

 :deps {poly/base-web   {:local/root "../../bases/web"}
        poly/app-state  {:local/root "../../components/app-state"}
        poly/database   {:local/root "../../components/database"}
        poly/department {:local/root "../../components/department"}
        poly/schema     {:local/root "../../components/schema"}
        poly/user       {:local/root "../../components/user"}
        poly/web-server {:local/root "../../components/web-server"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        ;; specify DB driver for "production" usage:
        org.xerial/sqlite-jdbc {:mvn/version "3.44.1.0"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {poly/schema-fixture {:local/root "../../components/schema-fixture"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}}

           :build {:replace-deps {io.github.clojure/tools.build
                                  {:git/tag "v0.9.2" :git/sha "fe6b140"}}
                   :ns-default build}}}
